html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}


body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.footer {
    background: #555;
    padding: 10px 10px;
    color: #f1f1f1;
}

.navigator {
    width: fit-content;
    background-color: #555;
}

.navigator a {
    z-index: 1;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    color: white;
}

.navigator a:hover {
    background-color: #000;
}

.active {
    background-color: #04AA6D;
}

.icon {
    padding: 16px;
    height: 50px;
    min-width: 50px;
    z-index: -1;
}

.wrapper {
    max-width: 60%;
    margin: 2.5% auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    @media (min-width: 32rem) {
        grid-template-columns: 150px minmax(10px, 1fr);
    }

    >* {
        padding: 1rem;
    }
}

aside {
    background-color: #555;
    margin: auto;
    height: 100%;
}

main {
    height: 100%;
    margin: auto;
    background-color: #f7f7f7;

    p {
        margin-bottom: 1rem;
    }
}




.container {
    display: flex;
}

.left-column {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.right-column {
    flex: 0;
    color: #f1f1f1;
    background-color: #555;
    margin: 10px;
    padding: 10px;
}

.product {
    width: calc(25%);
    margin: 10px;
    padding: 10px;
    background-color: #ccc;
    cursor: pointer;
}

.product:hover {
    background-color: #aaa;
}