html,
body {
    height: 100%;
    display: flex;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}

.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.footer {
    margin-top: auto;
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
}


.icon-bar {
    width: fit-content;
    background-color: #555;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #04AA6D;
}

.wrapper {
    max-width: 1000px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    @media (min-width: 32rem) {
        grid-template-columns: 250px minmax(10px, 1fr);
    }

    >* {
        padding: 1rem;
    }
}

aside {
    position: sticky;
    top: 20%;
    align-self: start;
    background-color: lightblue;
}

main {
    background-color: #f7f7f7;

    p {
        margin-bottom: 1rem;
    }
}

nav {
    li:not(:last-child) {
        margin-bottom: 1rem;
    }
}

h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

a {
    color: #222;
    text-decoration: none;
}