* {
  box-sizing: border-box
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  display: flex;
  flex-direction: column;
  font-family: solomon-sans, sans-serif;
  background-color: #fff;
  color: #212121;
  min-width: 360px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

main {
  display: block;
}

.page {
  display: flex;
  flex-direction: column;
  background-color: #d9e7ee;
  height: 100%;
}

.page-header {
  display: grid;
  grid-auto-columns: minmax(auto, 1276px);
  justify-content: center;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 2px 10px #1c1a1926;
  flex-shrink: 0;
}

.page-header-navigation {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 44px;
}

.page-container-desktop {
  flex-grow: 1;
  min-height: 100%;
  display: grid;
  grid-auto-columns: 80px minmax(auto, 1140px);
  justify-content: center;
  grid-gap: 20px;
  gap: 20px;
  grid-template-areas:
    "aside main"
    "footer main";
  padding: 20px 18px;
}

.page-aside {
  grid-area: aside;
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 65px;
  /* z-index: 1; */
} 

.menu-aside-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 2px;
  margin: 0;
  border-radius: 6px;
  background: #e8f1f5;
}

.page-scroll-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: main;
}

.group-page {
  display: grid;
  grid-template-columns: minmax(auto, 800px) 320px;
  grid-gap: 20px;
}

.page-container-mobile {
  flex-grow: 1;
  min-height: 100%;
  display: grid;
  grid-template-columns: minmax(auto, 1140px);
}

.group-page-container,
.group-page-aside {
  word-break: break-word;
}

.page-footer {
  grid-area: footer;
  align-self: flex-end;
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
}

.footer-action {
  display: grid;
  padding: 12px 0;
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
  grid-gap: 8px 10px;
  justify-items: center;
  align-items: center;
  transition: background-color .2s;
  text-decoration: none;
  color: #1a6bb9;
  text-align: center;
  border-radius: 3px;
  position: relative;
}

.footer-action-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 12px;
  font-family: solomon-sans, sans-serif;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer-box {
  padding: 2px;
  border-radius: 6px;
  background: #e8f1f5;
}



::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #b7b7b7;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #f1f8fb;
  margin: 2px 0;
}