.slider-container {
    position: relative;
    display: flex;
    justify-content: center;
}

#prev-button,
#next-button {
    position: absolute;
    top: 25%;
    height: 50%;
}

#prev-button {
    left: 0;
}

#next-button {
    right: 0;
}

#slider-image {
    height: 200px;
    width: 200px;
}